{% for aggregation in graphite_storage_aggregations %}
[{{ aggregation.name }}]
pattern = {{ aggregation.pattern }}
xFilesFactor = {{ aggregation.x_files_factor }}
aggregationMethod = {{ aggregation.aggregation_method }}

{% endfor %}

[default_average]
pattern = .*
xFilesFactor = 0.3
aggregationMethod = average